@model ThankGod4Kaitlyn.Models.Survey
<div class="result">
    <h1>Submitted Info for: @TempData["Name"]</h1>
    <p>Full Name: @TempData["Name"]</p> 
    <p>Dojo Location: @TempData["Location"]</p>
    <p>Favorite Language: @TempData["Language"]</p>
    <p>Comment: @TempData["Comment"]</p>

    <a href="/">Go back</a>
</div>